# --- Python cache files ---
__pycache__/
*.so
*.egg
*.egg-info/
*.pyo
*.pyd
*.py[cod]
*.tex

# --- Jupyter notebooks ---
.ipynb_checkpoints/
*.ipynb

# --- Data ---
data/*.parquet
data/*.zip
data/*.gz

# --- Virtual environments ---
.env
.venv/
env/
venv/
ENV/

# --- Logs & temp ---
*.log
*.tmp

# --- System files ---
.DS_Store
Thumbs.db

# --- Integrated Development Environment ---
.vscode/
.idea/
*.swp